* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Rubik', sans-serif;
}

.navbar {
	height: 50px !important;
}

.green-var {
	background:   rgba(128,203,122,1);
	height: 28px;
}

.bg-green-lima {
	background:  linear-gradient(0deg, rgba(33,166,164,1), rgba(128,203,122,1));
}

.footer-container {
	background-color: antiquewhite;
	margin-top: -100px;
	height: auto;
  
}

.footer-information {
	width: 1120px;
	height: 331px;
	border-radius: 10px;
	background-color: #21a6a4;
	margin-top: 150px;
	
}

.txt-justify {
	text-align: justify;
}

/* Colores de fuente  */
.txt-orange {
	color:  #ff7b7b;
}

.txt-white {
	color: white;
}

.txt-green-st {
	color: #80cb7a;
}

.txt-green-black {
	color: #47b87f;
}

.txt-purple {
	color: #bf6bff;
}

.txt-fanta {
	color: #ffab48;
}

.txt-gray {
	color: #706f77;
}

.txt-blue {
	color: #3ebff0;
}

@media only screen and (min-width: 480px) {
	
	.container {
		width: 480px;
	}
		
	}


@media only screen and (min-width: 1280px) {

	/* Clases Generales */
	.container {
		width: 1280px;
	}

	/* 1er columna del head (contiene texto) */
	.col-483 {
		width: 483px;
	}

	/* tamaño de la imagen del head */
	.img-head {
		width: 637px;
		height: 531px;
	}

	.icons-br {
		background-color: antiquewhite;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		padding: 10px;
	}

	.container-quienes-somos {
		width: 838px !important;
		height: 396px;
		margin-top: 80px;
	}

	
	.container-quienes-somos p {
		text-align: justify;
		
	}

	.card-quienes-somos {
		width: 380px;
		height: 444px;
		
	}

	.card-vision {
		background-color: #21a6a4;
    color: white;
		transform: rotate(-1deg) ;
	}

	.card-etica {
    background-color: #80cb7a;
    color: white;
		transform: rotate(1deg) ;
  }

	

	.btn-codigo-etica {
		width: 200px;
		height: 40px;
		background-color: #ff7b7b;
    border: none;
    border-radius: 30px;
		color: white;
	}

	.section-cards {
		margin-bottom: 48px;
	
	}

	/* CERTIFICACIÓN */
	.main-container-certificacion {
		background-color: #fffcf9
	}

	.container-certificacion {
		width: 838px;
		height: 338px;
		margin-top: 80px;
		
	}

	.txt-certificacion {
		width: 483px;
		color: #000000;
	}

	/* Linea del tiempo */
	.timeline {
		margin: 0 auto;
		padding: 25px;
		display: grid;
		grid-template-columns: 1fr 3px 1fr;
		font-family: "Fira Sans", sans-serif;
		color: black;
	}
	
	.timeline__component {
		margin: 0 50px 20px 50px;
	}
	
	.timeline__component--bg {
		padding: 1em;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
	}
	
	/* LEAVE TILL LAST */
	.timeline__component--bottom {
		margin-bottom: 0;
	}
	
	.timeline__middle {
		position: relative;
		background: black;
	}
	
	.timeline__point {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 54px;
		height: 54px;
		border-radius: 50%;
		padding: 8px;
	}
	
	/* LEAVE TILL LAST */
	.timeline-container {
		width: 1120px;
		height: 896px;
		background-color: #fff8f2;
	}
	.timeline__point--bottom {
		top: initial;
		bottom: 0;
	}
	
	.timeline__date--right {
		text-align: right;
	}
	
	.timeline__title {
		margin: 0;
		font-size: 1.15em;
		font-weight: bold;
	}
	
	.timeline__paragraph {
		line-height: 1.5;
	}

	.timeline__icon {
		position: absolute;
		width: 54px;
		height: 54px;
		padding: 10px;
	}

	.tramite__entrega__container {
		width: 838px;
		height: 745px;
		margin-top: 80px;
		margin-left: 221px;
		margin-right: 221px;
	}

	.img__tramite__certificacion {
		width: 390px;
		height: 338px;
		margin-top: 20px;
	}
   
	.costos__requerimientos__container {
		width: 1120px;
		height: 964px;
		background-color: #47b87f;    
		border-radius: 20px;    
	}

	.costos__icon {
		width:  92px;
		height: 92px;
		background-color: white;
		border-radius: 50%;
		padding: 10px;
	}

	.requerimientos__icon {
		width:  92px;
		height: 92px;
		background-color: white;
		border-radius: 50%;
		padding: 10px;
	}
}
	
