@font-face {
	font-family: 'Rubik';
	src: url('../css/Rubik_font/Rubik-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}
.navbar {
	height: 50px !important;
}
.green-var {
	background:   rgba(128,203,122,1);
	height: 28px;
}

.main-container {
	background:  linear-gradient(0deg, rgba(33,166,164,1), rgba(128,203,122,1));
}

.footer-container {
	background-color: antiquewhite;
}


.txt-quienes {
	margin-top: 80px;
 
}

.txt-somos {
	margin-top: 20px;
	text-align: justify;
}

.icons-br {
	height: 2rem;
	width: 8rem;
}

.card-vision {
	background-color: #21a6a4;
	color: white;
	transform: rotate(-1deg) ;
}

.card-etica {
	background-color: #80cb7a;
	color: white;
	transform: rotate(1deg) ;
	
}

@media only screen and (max-width: 1279px) {
.qs-img {
	width: 390px;
	height: 432px;
 position: relative;
 top: 10px;
}

.responsive {
	max-width: 480px;
}

.row {
	width: 480px;
}
	
}


@media only screen and (min-width: 1279px) {
	.qs-container {
			width: 1120px;
			display: flex;
			margin-left: 80px;
			margin-right: 80px;
		 
	}

	.qs-txt-1 {
			color: white;
		
	}

	.qs-img {
			width: 637px;
			height: 531px;
		 position: relative;
		 top: 10px;
	}

	.qs-subcontainer {
		margin-top: 80px;
			width: 838px;

	}

	.qs-txt-2 {
			margin-top: 80px;
			text-align: center;
	}

	.qs-txt-2 p {
			margin-top: 50px;
			text-align: justify;
	}

	.qs-container-cards {
			display: flex;
			justify-content: space-between;
	}

	.card {
			width: 380px;
			height: 400px;
			margin-top: 80px;
			border-radius: 50px;
			
	}

	.card-circle {
			width: 140px;
			height: 140px;
			border-radius: 50%;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	.icons-br {
			background-color: antiquewhite;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			padding: 10px;
	}

	.qs-btn {
			width: 200px;
			height: 48px;
			background-color: #ff7b7b;
			border: none;
			border-radius: 30px;
	}

	.qs-text-h1 {
			color:  #ff7b7b;
			margin: 0;
			padding: 0;
	}


}
