{% extends 'base.html' %} {% load static %} 

{% block content %}
<div class="container rounded-5 my-5 bg-bone shadow-bottom">
	<div class="row justify-content-center">
		<div class="col-10">
			<h1 class="text-center my-5 fw-bold cor-salmon">Aviso de Privacidad</h1>
			<h2 class="text-center cor-salmon">Usuarios</h2>
			<p class="mt-5">En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares (<span class="fw-bold">“LFPD”</span>), ponemos a su disposición el presente documento, para asegurar que el tratamiento de los datos personales que sean objeto de tratamiento de acuerdo al mismo sea legítimo, seguro, controlado e informado, para cumplir con los principios rectores de protección de datos personales.

				Este Aviso de Privacidad Integral (el <span class="fw-bold">“Aviso de Privacidad”</span>) está dirigido a cualquier Titular de Datos Personales identificable como (1) Personas físicas que accedan y/o utilicen los Sitios Web propiedad de SANTILLANA EDUCACIÓN (los <span class="fw-bold">“Usuarios”</span>); (2) Personas físicas que requieran información y/o contraten los servicios que ofrece SANTILLANA EDUCACIÓN; (3) Cualquier persona física que haga o tenga contacto con nosotros a través de las redes sociales administradas por SANTILLANA EDUCACIÓN y a través de otros medios de comunicación puestos a disposición por SANTILLANA EDUCACIÓN.
				
				Los Servicios que ofrece SANTILLANA EDUCACIÓN, abarcan servicios, productos y acciones promocionales, ya sean gratuitos o de pago, que consisten en el acceso a diferentes informaciones, contenidos, comunicaciones comerciales, editoriales y corporativas, programas, aplicaciones, tiendas, sitios web, vídeo bajo demanda o similares.</p>
			</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-10">
			<ol>
				<li><span class="fw-bold">IDENTIDAD Y DOMICILIO DEL RESPONSABLE DE SUS DATOS PERSONALES</span></li>
				<br>
				<p><span class="fw-bold">SANTILLANA EDUCACIÓN MÉXICO, S.A. DE C.V. (“SANTILLANA EDUCACIÓN”)</span>, con domicilio para oír y recibir notificaciones en Avenida Río Mixcoac 274, piso 4, colonia Acacias, alcaldía Benito Juárez, C.P. 03240, en la Ciudad de México, en cumplimiento a las disposiciones aplicables de la LFPD, su Reglamento y demás ordenamientos aplicables, pone a su disposición el presente Aviso de Privacidad.</p>
				<li> <span class="fw-bold">DATOS PERSONALES OBJETO DE TRATAMIENTOS</span>
					<br>
					<p class="mt-3">SANTILLANA EDUCACIÓN podrá recopilar los datos que a continuación se señalan:</p>
					<ul style="list-style-type: none;">
						<li>a. Datos de identificación y de contacto, como su nombre y teléfono.</li>
						<li>b. Datos patrimoniales o financieros, como su información fiscal y de tarjetas de crédito y/o débito.</li>
						<li>c. Datos electrónicos, como su correo electrónico.</li>
						<li>d. Registros electrónicos, como su dirección IP o tipo de navegador (web browser).</li>
					</ul>
					<br>
					<p>Es responsabilidad de los Titulares proporcionar Datos Personales verídicos, completos, exactos, así como a tener la titularidad y el derecho para proporcionarlos y hacer uso de ellos. Cualquier dato falso, incompleto, inexacto o que necesite la autorización de un tercero, será exclusiva responsabilidad del Titular, debiendo comunicar a SANTILLANA EDUCACIÓN la rectificación de sus datos o el consentimiento del tercero para proporcionarlos a SANTILLANA EDUCACIÓN.</p>
				</li>
				<li><span class="fw-bold">DATOS PERSONALES SENSIBLES</span>
					<p class="mt-3">Para las finalidades indicadas en este Aviso de Privacidad, SANTILLANA EDUCACIÓN no recaba ni da tratamiento a datos personales clasificados como sensibles por la normatividad vigente.</p>
				</li>
				<li><span class="fw-bold">FINALIDADES DEL TRATAMIENTO</span>
					<p class="mt-3">
						SANTILLANA EDUCACIÓN tratará sus datos personales para las siguientes finalidades originarias y necesarias (finalidades primarias):
					</p>
					<ol>
						<li>Gestión, control, administración y envío de información solicitada por nuestros Usuarios y prospectos.</li>
						<li>Gestión, control y administración de Usuarios de SANTILLANA EDUCACIÓN, tanto si se trata de personas físicas como de representantes legales y contactos designados por personas morales.</li>
						<li>Creación de cuentas para acceso a los servicios de SANTILLANA EDUCACIÓN, así como la gestión de su información para prevención de fraudes y para la creación de contraseñas para el acceso seguro y controlado a dichos servicios.</li>
						<li>Cobro y facturación de los servicios de SANTILLANA EDUCACIÓN.</li>
						<li>Gestión y coordinación de entregas de pedidos, así como procesar devoluciones de materiales ofrecidos en los Sitios Web propiedad de SANTILLANA EDUCACIÓN y administrar el historial de las transacciones del Titular.</li>
						<li>Cobranza judicial y extrajudicial de adeudos a favor de SANTILLANA EDUCACIÓN.</li>
						<li>Atención de Usuarios y seguimiento de quejas y/o aclaraciones, en su caso.</li>
						<li>Control de acceso a nuestras instalaciones, para protección de la salud y seguridad de nuestros clientes, visitantes, colaboradores y proveedores.</li>
						<li>Para cumplir obligaciones y requerimientos judiciales o administrativos, incluyendo la entrega de información sobre fraudes o suplantaciones de identidad.</li>
						<li>Archivo de información sobre ventas y garantías para el cumplimiento de las disposiciones legales aplicables, incluyendo la defensa de los intereses de SANTILLANA EDUCACIÓN ante instancias judiciales o administrativas.</li>
						<li>Análisis de datos mediante el uso de tecnologías de analítica, inteligencia artificial y/o big data, con el objeto de evaluar el uso los servicios de SANTILLANA EDUCACIÓN y la información que proporcionamos en nuestros Sitios Web; proporcionar servicios personalizados para el Titular, gestionar incidencias y el mantenimiento de los servicios prestados por SANTILLANA EDUCACIÓN, así como para gestionar, administrar, ampliar y mejorar los servicios y/o contenidos ofrecidos por SANTILLANA EDUCACIÓN y/o corregir errores en nuestros Sitios Web.</li>
						<li>Estadística y registro histórico de Usuarios y, en su caso, de los representantes legales de nuestros Usuarios.</li>
					</ol>
					<br>
					<p>Salvo que usted manifieste su oposición al momento de proporcionar sus Datos Personales, SANTILLANA EDUCACIÓN podrá tratarlos para las siguientes finalidades secundarias:</p>
					<ol>
						<li>Envío de comunicaciones publicitarias, comerciales u ofertas de productos y servicios, propios o de terceros, a través de los medios de contacto y/o comunicación que haya proporcionado a SANTILLANA EDUCACIÓN.</li>
					</ol>
					<br>
					<p>La negativa para el uso de sus datos personales para estas finalidades secundarias no podrá ser un motivo para que SANTILLANA EDUCACIÓN niegue los servicios y productos que solicita o contrata el Titular.</p>
				</li>
				<li><span class="fw-bold">TRANSFERENCIA DE DATOS PERSONALES</span>
					<p class="mt-3">SANTILLANA EDUCACIÓN no vende, cede o lucra en formar alguna los Datos Personales con terceros; sin embargo, podremos compartirlos con los destinatarios y para las finalidades que a continuación se describen:</p>
					<ul style="list-style-type: lower-alpha;">
						<li>A cualquier empresa que forme parte del Grupo Corporativo al que pertenece SANTILLANA EDUCACIÓN, empresas controladoras, empresas subsidiarias, empresas filiales, ya sea mexicanas y/o extranjeras, para el cumplimiento de los fines descritos en el presente Aviso de Privacidad.</li>
						<li>A terceros prestadores de servicios para el procesamiento de pagos a través de tarjetas de débito y/o crédito, identificar riesgos de fraude relacionados con la tarjeta utilizada por el Titular y para la realización de comunicaciones relacionadas con pagos electrónicos.</li>
						<li>Administraciones y autoridades públicas federales, estatales y/o municipales; comisiones; institutos, entidades reguladoras; autoridades judiciales o administrativas; y entidades gubernamentales nacionales y/o extranjeras, para el cumplimiento de obligaciones informativas, así como para el cumplimiento de obligaciones, reconocimiento, ejercicio o defensa de los derechos e intereses de SANTILLANA EDUCACIÓN, contemplados en la legislación aplicable, tratados internacionales y/o para el cumplimiento de requerimientos efectuados por aquéllas, incluyendo requerimientos judiciales o administrativos emitidos por autoridades competentes, debidamente fundados y motivados.</li>
					</ul>
					<br>
					<p>La Ley establece que las transferencias de Datos Personales antes indicadas no requieren de su consentimiento para poder ser efectuadas; cualquier transferencia de sus Datos Personales que sí requiera de su consentimiento será informada previamente, a través de la comunicación y actualización de este Aviso de Privacidad, y de forma previa a la realización de esa comunicación de datos.</p>
				</li>
				<li><span class="fw-bold">DERECHOS ARCO</span>
					<p class="mt-3">El Titular podrá ejercer sus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) así como revocar su consentimiento para el tratamiento de sus Datos Personales en cualquier momento, contactando directamente a SANTILLANA EDUCACIÓN al correo electrónico privacidadMX@santillana.com. La solicitud correspondiente deberá incluir:</p>
					<ul style="list-style-type: lower-alpha;">
						<li>Su nombre y domicilio completos, u otro medio para comunicarle la respuesta a su solicitud.</li>
						<li>Copia de una identificación (o de un poder, si alguien ejerce el derecho en su nombre).</li>
						<li>Una descripción del derecho que quiere ejercer, así como la información relacionada con el mismo y, en su caso.</li>
						<li>Cualquier otra información que considere importante para atender su solicitud o localizar sus datos personales.</li>
					</ul>
					<br>
					<p>Si usted ejerce sus derechos ARCO, nuestro Departamento de Datos Personales le responderá dentro de un plazo máximo de 20 (veinte) días hábiles, contados desde la fecha en que hayamos recibido su solicitud. Cualquier solicitud procedente se hará efectiva dentro de los 15 (quince) días hábiles siguientes a la fecha en que comuniquemos nuestra respuesta. Si por cualquier motivo su solicitud está incompleta o contiene errores que nos impida atenderla, solicitaremos que sea corregida, a más tardar, dentro de los siguientes 10 (diez) días hábiles contados a partir de que informemos esta situación. Las correcciones que no sean atendidas darán lugar a considerar la solicitud correspondiente como no presentada, siendo necesario iniciar un nuevo trámite. SANTILLANA EDUCACIÓN comunicará su respuesta por correo electrónico, a menos que el Titular indique que quiere recibir su respuesta por otro medio.</p>
					<br>
					<p>Por favor tenga en cuenta que ningún derecho es absoluto y, por lo tanto, podríamos negar su solicitud. En tales casos, siempre indicaremos los motivos de la negativa y el Titular tendrá el derecho de inconformarte ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales parta comunicar su desacuerdo.</p>
				</li>
				<li><span class="fw-bold">REVOCACIÓN Y LIMITACIÓN DEL CONSENTIMIENTO DE TRATAMIENTO DE DATOS PERSONALES</span>
					<p class="mt-3">
						El Titular podrá revocar el consentimiento que, en su caso, haya otorgado en favor de SANTILLANA EDUCACIÓN para el tratamiento de sus Datos Personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus Datos Personales. Asimismo, el Titular deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que SANTILLANA EDUCACIÓN no se encuentre en la imposibilidad seguir prestando el servicio o la conclusión de su relación con la misma.
					</p>
					<p>Para revocar su consentimiento deberá enviar una solicitud al correo electrónico privacidadMX@santillana.com, en la cual deberá constar la información descrita en la sección DERECHOS ARCO. El procedimiento de atención será el mismo indicado en la misma sección.</p>
					<p>También podrá limitar el uso o divulgación de sus Datos Personales dirigiendo la solicitud correspondiente a nuestro Responsable de Datos Personales. Los requisitos para acreditar su identidad, así como el procedimiento para atender su solicitud serán los mismos que los señalados para el ejercicio de los DERECHOS ARCO.</p>
					<p>SANTILLANA EDUCACIÓN cuenta con medios y procedimientos para asegurar la inclusión de algunos de sus datos en listados de exclusión propios, cuando solicita su inclusión en ellos de forma expresa. En tales casos, SANTILLANA EDUCACIÓN otorgará a los Titulares que soliciten su registro la constancia de inscripción correspondiente.</p>
				</li>
				<li><span class="fw-bold">COOKIES Y OTRAS TECNOLOGÍAS DE RASTREO</span></li>
				<p class="mt-3">En los Sitios Web cuyo titular es SANTILLANA EDUCACIÓN se utilizan cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear el comportamiento del Titular como usuario de Internet, para brindarle un mejor servicio y experiencia de usuario al navegar en el Sitio Web, así como ofrecerle nuevos materiales y servicios basados en sus preferencias.</p>
				<p>Los datos personales que se obtienen de dichas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en el Sitio Web, secciones consultadas, y páginas de Internet accedidas previas al acceso en el Sitio Web.
					Los datos personales que se obtienen del Titular, a través de estas tecnologías podrán ser transferidas conforme a lo establecido la sección TRANSFERENCIA DE DATOS PERSONALES del presente aviso de privacidad.
					Estas tecnologías podrán deshabilitarse siguiendo los siguientes pasos: 1. Acceder al Sitio Web, sección “Configuración de cookies”, 2. Dar clic en la opción “Rechazar” a cada una de las finalidades de las cookies correspondientes, o bien dar clic en la opción “Rechazar todo”.</p>
				<p>Para mayor información sobre el uso de estas tecnologías, puede consultar la opción “Política de cookies” que se encuentra dentro del Sitio Web santillanaconnect.com/Account/CookiesPolicy/.</p>
				<li><span class="fw-bold">MODIFICACIONES</span></li>
					<p class="mt-3">SANTILLANA EDUCACIÓN se reserva el derecho de cambiar el contenido del presente Aviso de Privacidad en cualquier momento. En caso de que exista algún cambio en este Aviso de Privacidad, SANTILLANA EDUCACIÓN lo comunicará publicando una nota visible en cualquier parte de los Sitios Web propiedad de SANTILLANA EDUCACIÓN, en este acto el Titular acepta que la comunicación de las modificaciones al Aviso de Privacidad surtirá sus efectos desde el momento en que SANTILLANA EDUCACIÓN las publique en dichos Sitios Web. El Titular acepta y se obliga a revisar de tiempo en tiempo el contenido de este Aviso de Privacidad en los correspondientes Sitios Web.</p>
					<br>
					<p>SANTILLANA®. Santillana Educación México, S. A. de C. V., Ciudad de México. Todos los derechos reservados.</p>
				</ol>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-10">
			<h1 class="text-center my-5 fw-bold cor-salmon">AVISO DE PRIVACIDAD INTEGRAL</h1>
			<h2 class="text-center fw-bold cor-salmon">USUARIOS</h2>
			<p class="mt-5">
				En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares (<span class="fw-bold">“LFPD”</span>), ponemos a su disposición el presente documento, para asegurar que el tratamiento de los datos personales que sean objeto de tratamiento de acuerdo al mismo sea legítimo, seguro, controlado e informado, para cumplir con los principios rectores de protección de datos personales.
			</p>
			<br>
			<p>Este Aviso de Privacidad Integral (el <span class="fw-bold">“Aviso de Privacidad”</span>) está dirigido a cualquier Titular de Datos Personales identificable como (1) Personas físicas que accedan y/o utilicen los Sitios Web propiedad de EDITORIAL SANTILLANA (los <span class="fw-bold">“Usuarios”</span>); (2) Personas físicas que requieran información y/o contraten los servicios que ofrece EDITORIAL SANTILLANA; (3) Cualquier persona física que haga o tenga contacto con nosotros a través de las redes sociales administradas por EDITORIAL SANTILLANA y a través de otros medios de comunicación puestos a disposición por EDITORIAL SANTILLANA.</p>
			<br>
			<p>Los Servicios que ofrece EDITORIAL SANTILLANA, abarcan servicios, productos y acciones promocionales, ya sean gratuitos o de pago, que consisten en el acceso a diferentes informaciones, contenidos, comunicaciones comerciales, editoriales y corporativas, programas, aplicaciones, tiendas, sitios web, vídeo bajo demanda o similares.</p>	
		</div>
	</div>
	<br>
	<div class="row justify-content-center">
		<div class="col-10">
			<ol>
				<li><span class="fw-bold">IDENTIDAD Y DOMICILIO DEL RESPONSABLE DE SUS DATOS PERSONALES</span>
					<p class="mt-3">
						<span class="fw-bold">EDITORIAL SANTILLANA, S.A. DE C.V. (“EDITORIAL SANTILLANA”)</span>, con domicilio para oír y recibir notificaciones en Avenida Río Mixcoac 274, piso 4, colonia Acacias, alcaldía Benito Juárez, C.P. 03240, en la Ciudad de México, en cumplimiento a las disposiciones aplicables de la LFPD, su Reglamento y demás ordenamientos aplicables, pone a su disposición el presente Aviso de Privacidad.
					</p>
				</li>
				<li> <span class="fw-bold">DATOS PERSONALES OBJETO DE TRATAMIENTOS</span>
					<p class="mt-3">EDITORIAL SANTILLANA podrá recopilar los datos que a continuación se señalan:</p>
					<br>
					<p>Datos de identificación y de contacto, como su nombre y teléfono.</p>
					<ul style="list-style-type: lower-alpha;">
						<li>Datos patrimoniales o financieros, como su información fiscal y de tarjetas de crédito y/o débito.</li>
						<li>Datos electrónicos, como su correo electrónico.</li>
						<li>Registros electrónicos, como su dirección IP o tipo de navegador (web browser).</li>
					</ul>
					<br>
					<p>Es responsabilidad de los Titulares proporcionar Datos Personales verídicos, completos, exactos, así como a tener la titularidad y el derecho para proporcionarlos y hacer uso de ellos. Cualquier dato falso, incompleto, inexacto o que necesite la autorización de un tercero, será exclusiva responsabilidad del Titular, debiendo comunicar a EDITORIAL SANTILLANA la rectificación de sus datos o el consentimiento del tercero para proporcionarlos a EDITORIAL SANTILLANA.</p>
				</li>
				<li><span class="fw-bold">DATOS PERSONALES SENSIBLES</span>
					<p class="mt-3">Para las finalidades indicadas en este Aviso de Privacidad, EDITORIAL SANTILLANA no recaba ni da tratamiento a datos personales clasificados como sensibles por la normatividad vigente.	</p>
				</li>
				<li><span class="fw-bold">FINALIDADES DEL TRATAMIENTO</span>
					<p class="mt-3">EDITORIAL SANTILLANA tratará sus datos personales para las siguientes finalidades originarias y necesarias (finalidades primarias):</p>
					<ol>
						<li>Gestión, control, administración y envío de información solicitada por nuestros Usuarios y prospectos.</li>
						<li>Gestión, control y administración de Usuarios de EDITORIAL SANTILLANA, tanto si se trata de personas físicas como de representantes legales y contactos designados por personas morales.</li>
						<li>Creación de cuentas para acceso a los servicios de EDITORIAL SANTILLANA, así como la gestión de su información para prevención de fraudes y para la creación de contraseñas para el acceso seguro y controlado a dichos servicios.</li>
						<li>Cobro y facturación de los servicios de EDITORIAL SANTILLANA.</li>
						<li>Gestión y coordinación de entregas de pedidos, así como procesar devoluciones de materiales ofrecidos en los Sitios Web propiedad de EDITORIAL SANTILLANA y administrar el historial de las transacciones del Titular.</li>
						<li>Cobranza judicial y extrajudicial de adeudos a favor de EDITORIAL SANTILLANA.</li>
						<li>Atención de Usuarios y seguimiento de quejas y/o aclaraciones, en su caso.</li>
						<li>Control de acceso a nuestras instalaciones, para protección de la salud y seguridad de nuestros clientes, visitantes, colaboradores y proveedores.</li>
						<li>Para cumplir obligaciones y requerimientos judiciales o administrativos, incluyendo la entrega de información sobre fraudes o suplantaciones de identidad.</li>
						<li>Archivo de información sobre ventas y garantías para el cumplimiento de las disposiciones legales aplicables, incluyendo la defensa de los intereses de EDITORIAL SANTILLANA ante instancias judiciales o administrativas.</li>
						<li>Análisis de datos mediante el uso de tecnologías de analítica, inteligencia artificial y/o big data, con el objeto de evaluar el uso los servicios de EDITORIAL SANTILLANA y la información que proporcionamos en nuestros Sitios Web; proporcionar servicios personalizados para el Titular, gestionar incidencias y el mantenimiento de los servicios prestados por EDITORIAL SANTILLANA, así como para gestionar, administrar, ampliar y mejorar los servicios y/o contenidos ofrecidos por EDITORIAL SANTILLANA y/o corregir errores en nuestros Sitios Web.</li>
						<li>Estadística y registro histórico de Usuarios y, en su caso, de los representantes legales de nuestros Usuarios.</li>
					</ol>
					<br>
					<p>Salvo que usted manifieste su oposición al momento de proporcionar sus Datos Personales, EDITORIAL SANTILLANA podrá tratarlos para las siguientes finalidades secundarias:	</p>
					<ol>
						<li>Envió de comunicaciones publicitarias, comerciales u ofertas de productos y servicios, propios o de terceros, a través de los medios de contacto y/o comunicación que haya proporcionado a EDITORIAL SANTILLANA.</li>
					</ol>
					<br>
					<p>La negativa para el uso de sus datos personales para estas finalidades secundarias no podrá ser un motivo para que EDITORIAL SANTILLANA niegue los servicios y productos que solicita o contrata el Titular.</p>
				</li>
				<li><span class="fw-bold">TRANSFERENCIA DE DATOS PERSONALES</span>
					<p class="mt-3">EDITORIAL SANTILLANA no vende, cede o lucra en formar alguna los Datos Personales con terceros; sin embargo, podremos compartirlos con los destinatarios y para las finalidades que a continuación se describen:</p>
					<br>
					<ul style="list-style-type: lower-alpha;">
						<li>A cualquier empresa que forme parte del Grupo Corporativo al que pertenece EDITORIAL SANTILLANA, empresas controladoras, empresas subsidiarias, empresas filiales, ya sea mexicanas y/o extranjeras, para el cumplimiento de los fines descritos en el presente Aviso de Privacidad.</li>
						<li>A terceros prestadores de servicios para el procesamiento de pagos a través de tarjetas de débito y/o crédito, identificar riesgos de fraude relacionados con la tarjeta utilizada por el Titular y para la realización de comunicaciones relacionadas con pagos electrónicos.</li>
						<li>Administraciones y autoridades públicas federales, estatales y/o municipales; comisiones; institutos, entidades reguladoras; autoridades judiciales o administrativas; y entidades gubernamentales nacionales y/o extranjeras, para el cumplimiento de obligaciones informativas, así como para el cumplimiento de obligaciones, reconocimiento, ejercicio o defensa de los derechos e intereses de EDITORIAL SANTILLANA, contemplados en la legislación aplicable, tratados internacionales y/o para el cumplimiento de requerimientos efectuados por aquéllas, incluyendo requerimientos judiciales o administrativos emitidos por autoridades competentes, debidamente fundados y motivados.</li>
					</ul>
					<br>
					<p>La Ley establece que las transferencias de Datos Personales antes indicadas no requieren de su consentimiento para poder ser efectuadas; cualquier transferencia de sus Datos Personales que sí requiera de su consentimiento será informada previamente, a través de la comunicación y actualización de este Aviso de Privacidad, y de forma previa a la realización de esa comunicación de datos.</p>
				</li>
				<li><span class="fw-bold">DERECHOS ARCO</span>
					<p class="mt-3">El Titular podrá ejercer sus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) así como revocar su consentimiento para el tratamiento de sus Datos Personales en cualquier momento, contactando directamente a EDITORIAL SANTILLANA al correo electrónico privacidadMX@santillana.com. La solicitud correspondiente deberá incluir:</p>
					<ul style="list-style-type: lower-alpha;">
						<li>Su nombre y domicilio completos, u otro medio para comunicarle la respuesta a su solicitud.</li>
						<li>Copia de una identificación (o de un poder, si alguien ejerce el derecho en su nombre).</li>
						<li>Una descripción del derecho que quiere ejercer, así como la información relacionada con el mismo y, en su caso.</li>
						<li>Cualquier otra información que considere importante para atender su solicitud o localizar sus datos personales.</li>
					</ul>
					<br>
					<p>Si usted ejerce sus derechos ARCO, nuestro Departamento de Datos Personales le responderá dentro de un plazo máximo de 20 (veinte) días hábiles, contados desde la fecha en que hayamos recibido su solicitud. Cualquier solicitud procedente se hará efectiva dentro de los 15 (quince) días hábiles siguientes a la fecha en que comuniquemos nuestra respuesta. Si por cualquier motivo su solicitud está incompleta o contiene errores que nos impida atenderla, solicitaremos que sea corregida, a más tardar, dentro de los siguientes 10 (diez) días hábiles contados a partir de que informemos esta situación. Las correcciones que no sean atendidas darán lugar a considerar la solicitud correspondiente como no presentada, siendo necesario iniciar un nuevo trámite. EDITORIAL SANTILLANA comunicará su respuesta por correo electrónico, a menos que el Titular indique que quiere recibir su respuesta por otro medio.</p>
					<p>Por favor tenga en cuenta que ningún derecho es absoluto y, por lo tanto, podríamos negar su solicitud. En tales casos, siempre indicaremos los motivos de la negativa y el Titular tendrá el derecho de inconformarte ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales parta comunicar su desacuerdo.</p>
				</li>
				<li><span class="fw-bold"> REVOCACIÓN Y LIMITACIÓN DEL CONSENTIMIENTO DE TRATAMIENTO DE DATOS PERSONALES</span>
					<p class="mt-3">
						El Titular podrá revocar el consentimiento que, en su caso, haya otorgado en favor de EDITORIAL SANTILLANA para el tratamiento de sus Datos Personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus Datos Personales. Asimismo, el Titular deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que EDITORIAL SANTILLANA no se encuentre en la imposibilidad seguir prestando el servicio o la conclusión de su relación con la misma.
					</p>
					<br>
					<p>Para revocar su consentimiento deberá enviar una solicitud al correo electrónico privacidadMX@santillana.com, en la cual deberá constar la información descrita en la sección DERECHOS ARCO. El procedimiento de atención será el mismo indicado en la misma sección.</p>
					<br>
					<p>También podrá limitar el uso o divulgación de sus Datos Personales dirigiendo la solicitud correspondiente a nuestro Responsable de Datos Personales. Los requisitos para acreditar su identidad, así como el procedimiento para atender su solicitud serán los mismos que los señalados para el ejercicio de los DERECHOS ARCO.</p>
					<br>
					<p>EDITORIAL SANTILLANA cuenta con medios y procedimientos para asegurar la inclusión de algunos de sus datos en listados de exclusión propios, cuando solicita su inclusión en ellos de forma expresa. En tales casos, EDITORIAL SANTILLANA otorgará a los Titulares que soliciten su registro la constancia de inscripción correspondiente.</p>
				</li>
				<li><span class="fw-bold">COOKIES Y OTRAS TECNOLOGÍAS DE RASTREO</span>
					<p class="mt-3">En los Sitios Web cuyo titular es EDITORIAL SANTILLANA se utilizan cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear el comportamiento del Titular como usuario de Internet, para brindarle un mejor servicio y experiencia de usuario al navegar en el Sitio Web, así como ofrecerle nuevos materiales y servicios basados en sus preferencias.	</p>
					<br>
					<p>Los datos personales que se obtienen de dichas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en el Sitio Web, secciones consultadas, y páginas de Internet accedidas previas al acceso en el Sitio Web.</p>
					<br>
					<p>Los datos personales que se obtienen del Titular, a través de estas tecnologías podrán ser transferidas conforme a lo establecido la sección TRANSFERENCIA DE DATOS PERSONALES del presente aviso de privacidad.</p>
					<br>
					<p>Estas tecnologías podrán deshabilitarse siguiendo los siguientes pasos: 1. Acceder al Sitio Web, sección “Configuración de cookies”, 2. Dar clic en la opción “Rechazar” a cada una de las finalidades de las cookies correspondientes, o bien dar clic en la opción “Rechazar todo”.</p>
					<br>
					<p>Para mayor información sobre el uso de estas tecnologías, puede consultar la opción “Política de cookies” que se encuentra dentro del Sitio Web santillanaconnect.com/Account/CookiesPolicy/.</p>
				</li>
				<li>
					<span class="fw-bold">MODIFICACIONES</span>
					<p class="mt-3">EDITORIAL SANTILLANA se reserva el derecho de cambiar el contenido del presente Aviso de Privacidad en cualquier momento. En caso de que exista algún cambio en este Aviso de Privacidad, EDITORIAL SANTILLANA lo comunicará publicando una nota visible en cualquier parte de los Sitios Web propiedad de EDITORIAL SANTILLANA, en este acto el Titular acepta que la comunicación de las modificaciones al Aviso de Privacidad surtirá sus efectos desde el momento en que EDITORIAL SANTILLANA las publique en dichos Sitios Web. El Titular acepta y se obliga a revisar de tiempo en tiempo el contenido de este Aviso de Privacidad en los correspondientes Sitios Web.</p>
					<br>
					<p class="text-center">SANTILLANA®. Editorial Santillana, S. A. de C. V. Ciudad de México. Todos los derechos reservados.</p>
				</li>
			</ol>
		</div>
	</div>
</div>

{% endblock %}
