{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Certificación -->
<div class="row main-container-certificacion justify-content-center align-items-center">
	<div class="col-sm-6 col-483">
		<h1>Certificación de <br><span class="txt-green-st">Competencia Laboral</span></h1>
		<p>
			La certificación se realiza con respecto a lo establecido en Estándares de Competencia Laboral (EC), lo que
			posibilita evaluar con transparencia e igualdad a todas las personas.
			<br><br>
			Para obtener la certificación, es indispensable incorporarse a un proceso de evaluación.
			<br><br>
			La certificación debe ser de libre acceso, voluntaria e imparcial.

		</p>
	</div>
	<div class="col-sm-6 img-head">
		<div class="d-flex justify-content-center">
			<img src="{% static 'images/certificacion/img_sece_certificacion.png' %}" class="img-fluid">
		</div>
	</div>
</div>

<!-- Que es la Certificación -->
<div class="row justify-content-center">
	<div class="col-sm-12 text-center container-certificacion">
		<h2>¿<span class="txt-orange">Qué es la Certificación de Competencia Laboral?</span></h2>
		<p class="mt-4 txt-justify">
			La certificación de competencia laboral es el procedimiento por el que un organismo de tercera parte
			reconoce, con fundamento en el artículo 45 de la Ley General de Educación, que una persona que fue declarada
			competente como resultado de la evaluación realizada con base en un EC (Estándar de Competencia Laboral),
			mediante un Certificado, con validez oficial a nivel nacional.
		</p>
	</div>
</div>

<!-- Proceso de Evaluación -->
<div class="row justify-content-center">
	<div class="col-sm-12 timeline-container text-center">
		<h2 style="margin-top: 74px;">Proceso de Evaluación - Certificación</h2>
		<div class="timeline" style="margin-top: 74px;">
			<div class="timeline__component">
				<div class="timeline__date timeline__date--right txt-orange">Preparación del proceso de evaluación</div>
			</div>
			<div class="timeline__middle">
				<div class="timeline__point" style="background:#ff7b7b;;"><img src="{%  static 'icons/certificacion/icon_cierre.svg' %}" alt=""></div>
			</div>
			<div class="timeline__component timeline__component--bg">
				<p class="timeline__paragraph">
					Alineación/sesión informativa.
					Evaluación diagnóstica.
				</p>
			</div>
			<div class="timeline__component">
				<div class="timeline__date timeline__date--right txt-purple">Plan de evaluación</div>
			</div>
			<div class="timeline__middle">
				<div class="timeline__point" style="background: #bf6bff;"><img src="{%  static 'icons/certificacion/icon_evaluacion.svg' %}" alt=""></div>
			</div>
			<div class="timeline__component timeline__component--bg">
				<p class="timeline__paragraph">
					La ECE y el candidato elaboran y acuerdan el plan de evaluación donde se indican técnicas de evaluación, día, fecha y hora de aplicación de instrumento de evaluación. 
				</p>
			</div>
			<div class="timeline__component">
				<div class="timeline__date timeline__date--right txt-fanta">Aplicación del Instrumento de evaluación</div>
			</div>
			<div class="timeline__middle">
				<div class="timeline__point" style="background: #ffab48;"><img src="{%  static 'icons/certificacion/icon_instrumento.svg' %}" alt=""></div>
			</div>
			<div class="timeline__component timeline__component--bg">
				<p class="timeline__paragraph">
					El candidato resuelve cuestionario, entrega productos, demuestras desempeños, actitudes, hábitos y valores.
El evaluador presenta resultados al candidato, emite juicio de competencia COMPETENTE / TODAVIA NO COMPETENTE.

				</p>
			</div>
			<div class="timeline__component">
				<div class="timeline__date timeline__date--right txt-green-black">Cierre de evaluación</div>
			</div>
			<div class="timeline__middle">
				<div class="timeline__point" style="background: #47b87f;"><img src="{%  static 'icons/certificacion/icon_cierre.svg' %}" alt=""></div>
			</div>
			<div class="timeline__component timeline__component--bg">
				<p class="timeline__paragraph">
					Dictamen de la ECE donde se rectifica / ratifica el juicio de competencia.
Trámite de certificado ante el CONOCER
Entrega del certificado.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Tramite y Entrega de Certificado -->
<div class="row justify-content-center">
	<div class="col-sm-12 tramite__entrega__container text-center">
		<h2>T<span class="txt-orange">Trámite y Entrega de Certificado</span> </h2>
		<p class="txt-justify mt-3">Para dar trámite a su certificado es indispensable continua con varios procedimientos internos para garanrizar que su Procesofue objetivo y transparente.
			<br>
			El tiempo estimado para la emisión del documento oficial considera el proceso administrativo posterior a la evaluación y es de uno a dos meses a partir de la emision del juicio de competencia.
		</p>
		<img class="img__tramite__certificacion" src="{% static 'images/certificacion/img_sece_tramite.png' %}" alt="">
	</div>
</div>

<!-- Costos y Requisitos -->
<div class="row justify-content-center section__costos__requisitos">
	<div class="col-sm-12 costos__requerimientos__container">
		<h2 style="margin-top: 80px; text-align: center;">Costos y Requerimientos</h2>
		<div class="row">
			<div class="col-sm-6 text-center">
				<img class="costos__icon" src="{% static 'icons/certificacion/icon_costos.svg' %}" alt="">
			</div>
			<div class="col-sm-6 text-center">
				<img class="requerimientos__icon" src="{% static 'icons/certificacion/icon_proceso.svg' %}" alt="">
			</div>
		</div>
		<hr style="width: 920px; height: 5px; background-color: white; margin: auto; margin-top: 15px;">
		<div class="row">
			<div class="col-sm-6 costos__columna">
				<ul>
					<li>
						El proceso de evaluación con fines de certificación en cualquiera de los Estándares de Competencia
						tiene una inversión por persona de:
						<div class="d-flex flex-row justify-content-between">
							<p>Proceso de Evaluación </p><p class="align-self-end">$4500</p>
						</div>
						<div class="d-flex flex-row justify-content-between">
							<p>Certificación</p><p>$500</p>
						</div>
						<hr>
						<div class="d-flex flex-row justify-content-between">
							<p>Total</p><p>$5000</p>
						</div>
					</li>
					<li>
						*Los costos no incluyen IVA y son vigentes al 31 de diciembre de 2023.
					</li>
					<li>
						**Los costos son para procesos de evaluación en la Ciudad de México, para el interior de la 
						Republica deberán cubrir viáticos.
					</li>
				</ul>
			</div>
			<div class="col-sm-6 requisitos__columna">
				<p>Deberán compartir los siguientes documentos en formato digital:</p>
				<ul>
					<li>
						Acta de nacimiento
					</li>
					<li>
						Credencial INE vigente
					</li>
					<li>
						Curriculum vitae breve, con fotografia, actualizado y reciente.
					</li>
					<li>Documento oficial del último grado de estudios</li>
					<li>Documentos que avalen su experiencia en el estándar a evaluar</li>
					<li>
						Fotografía formato digital (JPG o PNG, a color, fondo blanco, de frente, sin lentes, sin accesorios grandes, 
						frente descubierta, reciente y nitida)
					</li>
				</ul>
				<br><br>
				<div class="text-center">
					<p>Ver caracteristicas de la foto</p>
					<button class="btn__requisitos mt-5" >Ver foto</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Derechos y Obligaciones -->
<div class="row section__derechos__obligaciones">
	<div class="col-sm-12 d-flex justify-content-center">
		<div class="card card__derechos__obligaciones  text-center">
			<img src="{% static 'icons/certificacion/icon_derechos.svg' %}" class="icon__derechos position-absolute start-50 translate-middle " alt="">
			<div class="card-body d-flex flex-column justify-content-center card__txt__derechos">
				<h2 class="card-title">Derechos y Obligaciones de los Ususarios del Sistema Nacional de Competencias</h2>
				<div class="mt-4">
					<button class="btn__derechos">Descargar</button>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
