{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row main-container-certificacion justify-content-center align-items-center">
	<div class="col-sm-6 col-483">
		<h1>Certificación de <br><span class="txt-green-st">Competencia Laboral</span></h1>
		<p>
			La certificación se realiza con respecto a lo establecido en Estándares de Competencia Laboral (EC), lo que
			posibilita evaluar con transparencia e igualdad a todas las personas.
			<br><br>
			Para obtener la certificación, es indispensable incorporarse a un proceso de evaluación.
			<br><br>
			La certificación debe ser de libre acceso, voluntaria e imparcial.

		</p>
	</div>
	<div class="col-sm-6 img-head">
		<div class="d-flex justify-content-center">
			<img src="{% static 'images/certificacion/img_sece_certificacion.png' %}" class="img-fluid">
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-sm-12 text-center container-certificacion">
		<h2>¿<span class="txt-orange">Qué es la Certificación de Competencia Laboral?</span></h2>
		<p class="mt-4 txt-justify">
			La certificación de competencia laboral es el procedimiento por el que un organismo de tercera parte
			reconoce, con fundamento en el artículo 45 de la Ley General de Educación, que una persona que fue declarada
			competente como resultado de la evaluación realizada con base en un EC (Estándar de Competencia Laboral),
			mediante un Certificado, con validez oficial a nivel nacional.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 timeline-container text-center">
		<h2>Proceso de Evaluación - Certificación</h2>
		<div class="timeline">
			<ul>
				<li>
					<div class="timeline-content">
						<h1>Titulo 1</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
							sint aspernatur deleniti expedita iure voluptatem aut excepturi possimus quam suscipit.</p>
					</div>
				</li>
				<li>
					<div class="timeline-content">
						<h1>Titulo 1</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
							sint aspernatur deleniti expedita iure voluptatem aut excepturi possimus quam suscipit.</p>
					</div>
				</li>
				<li>
					<div class="timeline-content">
						<h1>Titulo 1</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
							sint aspernatur deleniti expedita iure voluptatem aut excepturi possimus quam suscipit.</p>
					</div>
				</li>
				<li>
					<div class="timeline-content">
						<h1>Titulo 1</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
							sint aspernatur deleniti expedita iure voluptatem aut excepturi possimus quam suscipit.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}