{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row row-cols-1 row-cols-xl-2 justify-content-center align-items-center bg-bone">
	<div class="col col-xl-5 px-4">
		<h1 class="fw-bold">Certificación de <br> <span class="cor-lemon"> Competencia Laboral</span></h1>
		<p class="mt-5">
			La certificación se realiza con respecto a lo establecido en <span class="fw-bold cor-salmon">Estándares de
				Competencia
				Laboral (EC)</span> , lo que
			posibilita evaluar con transparencia e igualdad a todas las personas.
		</p>
		<p>
			Para obtener la certificación, es indispensable incorporarse a un proceso de evaluación.
		</p>
		<p>
			La certificación debe ser de libre acceso, voluntaria e imparcial.
		</p>
	</div>
	<div class="col col-xl-7 justify-self-center my-sm-3 my-lg-1 text-center">
		<img src="{% static 'images/certificacion/sece_certificacion.png' %}" class="w-75 h-75 mt-4">
	</div>
</div>

<div class="row justify-content-center my-5">
	<div class="col-9">
		<h2 class="text-center mb-4 fw-bold">¿Q<span class="cor-salmon">ué es la Certificación de Competencia
				Laboral?</span></h2>
		<p>Somos una institución acreditada por CONOCER como Entidad de Certificación y Evaluación (ECE), con
			experiencia en
			capacitación, preparación de candidatos a evaluación y certificación. De esta manera Editorial Santillana
			contribuye en el desarrollo de personas competentes que hacen más productiva nuestra sociedad para el
			beneficio de
			todos los mexicanos.
			Nuestra aportación tanto en la formación de capital humano como en la evaluación y certificación de
			competencias
			es fundamental para acelerar la competitividad económica, el desarrollo educativo y el progreso social que
			requiere nuestro país.
		</p>
	</div>
</div>

<!-- Timeline -->
<div class="container rounded-5 bg-bone p-1 shadow-bottom">
	<br>
	<h2 class="cor-salmon text-center mt-3">Proceso de Evaluación - Certificación</h2>
	<br>
	<!-- Preparacion -->
	<div class="row row-cols-3 justify-content-center align-content-center mt-5 g-0">
		<div class="col-4 text-end align-self-center">
			<p class="cor-salmon fw-bold">
				Preparación del proceso de evaluación
			</p>
		</div>
		<div class="col-3 text-center justify-content-center align-self-center">
			<img class="icon-tl-salmon shadow-bottom" src=" {% static 'icons/certificacion/icon_proceso.png' %}" alt="" srcset="">
		</div>
		<div class="col-4 align-self-center">
			<p>
				Alineación/sesión informativa.
				<br>
				Evaluación diagnóstica.
				<br>
				<br>
			</p>
		</div>
	</div>

	<div class="row justify-content-center align-content-center position-relative g-0">
		<div class="col-2  line-timeline line-timeline-up">
			<br>
		</div>
	</div>

	<!-- Aplicacion -->
	<div class="row row-cols-3 justify-content-center align-content-center g-0">
		<div class="col-4 text-end align-self-center">
			<p class="cor-purple fw-bold">
				Aplicación del Instrumento de evaluación
			</p>
		</div>
		<div class="col-3 text-center justify-content-center align-self-center">
			<img class="icon-tl-purple shadow-bottom" src=" {% static 'icons/certificacion/icon_evaluacion.png' %}" alt="" srcset="">
		</div>
		<div class="col-4 align-self-center">
			<p>
				El candidato resuelve cuestionario, entrega productos, demuestras desempeños, actitudes, hábitos y
				valores.
				El evaluador presenta resultados al candidato, emite juicio de competencia COMPETENTE / TODAVIA NO
				COMPETENTE.
			</p>
		</div>
	</div>

	<br>
	<div class="row justify-content-center align-content-center position-relative g-0">
		<div class="col-2 line-timeline line-timeline-up g-0">
			<br>
		</div>
	</div>
	<br>

	<!-- Cierre -->
	<div class="row row-cols-3 justify-content-center align-content-center g-0">
		<div class="col-4 text-end align-self-center">
			<p class="cor-orange fw-bold">
				Cierre de evaluación
			</p>
		</div>
		<div class="col-3 text-center justify-content-center align-self-center">
			<img class="icon-tl-orange shadow-bottom" src=" {% static 'icons/certificacion/icon_instrumento.png' %}" alt="" srcset="">
		</div>
		<div class="col-4 align-self-center">
			<p>
				Dictamen de la ECE donde se rectifica / ratifica el juicio de competencia.
				Trámite de certificado ante el CONOCER
				Entrega del certificado.
			</p>
		</div>
	</div>

	<br>
	<div class="row justify-content-center align-content-center position-relative g-0">
		<div class="col-2 line-timeline line-timeline-up">
			<br>
		</div>
	</div>
	<br>

	<!-- Preparacion -->
	<div class="row row-cols-3 justify-content-center align-content-center g-0">
		<div class="col-4 text-end align-self-center">
			<p class="cor-green fw-bold">
				Preparación del proceso de evaluación
			</p>
		</div>
		<div class="col-3 text-center justify-content-center align-self-center">
			<img class="icon-tl-green shadow-bottom" src=" {% static 'icons/certificacion/icon_cierre.png' %}" alt="" srcset="">
		</div>
		<div class="col-4 align-self-center">
			<p>
				Alineación/sesión informativa.
				<br>
				Evaluación diagnóstica.
			</p>
		</div>
	</div>
	<br>
</div>

<!-- Tramite y entrega de certificado -->
<div class="row text-center justify-content-center align-content-center mt-5">
	<div class="col-8 mt-4">
		<h2>T<span class="cor-salmon">ramite y Entrega de Certificado</span></h2>
		<p class="mt-4">Para dar trámite a su certificado es indispensable continuar con varios procedimientos internos para garantizar que su proceso fue objetivo y transparente. El tiempo estimado para la emisión del documento oficial considera el proceso administrativo posterior a la evaluación y es de uno a dos meses a partir de la emisión del juicio de competencia.</p>
		<picture>
			<img src="{% static 'images/certificacion/sece_certificacion_tramite.png' %}" alt="" srcset="" class="w-50 mt-4">
		</picture>
	</div>
</div>

<!-- Costos y requisitos -->
<div class="container bg-verde-fuerte rounded-5 my-5 shadow-bottom">
	<br>
	<h2 class="text-center mt-3 cor-white">Costos y Requisitos</h2>
	<!-- Header iconos -->
	<div class="row row-cols-1 row-cols-xl-2 justify-content-around">
		<div class="col-5 text-center mt-5">
			<img class="icon-requisito shadow-bottom" id="btncostos" src="{% static 'icons/certificacion/icon_costos.png' %}" alt=""
				srcset="">
			<div class="mt-3 g-0 rounded-pill" id="varCosto" style="width: 100%; height: 5%">
				<p></p>
			</div>
		</div>
		<div class="col-5 text-center mt-5">
			<img class="icon-requisito shadow-bottom" id="btnrequisitos" src="{% static 'icons/certificacion/icon_requisitos.png' %}" alt=""
				srcset="">
			<div class="mt-3 g-0 rounded-pill" id="varRequisito" style="width: 100%; height: 5%;">
				<p></p>
			</div>
		</div>
	</div>

	<!-- Contenido -->
	<div class="row row-cols-sm-1 row-cols-lg-2 justify-content-center mt-4 cor-white">
		<div class="col" id="colCostos">
			<ul class="mt-3">
				<li class="my-4">El proceso de evaluación con fines de certificación en cualquiera de los Estandares de
					Competencia tiene una
					inversión por persona de:
					<div class="row mt-5">
						<div class="col-6">
							<p class="fw-bold">Proceso de Evaluación</p>
						</div>
						<div class="col-6">
							<p class="fw-bold text-end">$4,500</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<p class="fw-bold">Proceso de Evaluación</p>
						</div>
						<div class="col-6 text-end">
							<p class="fw-bold text-end">$500</p>
						</div>
					</div>
					<hr class="cor-white border-5">
					<div class="row">
						<div class="col-6">
							<p class="fw-bold">Total</p>
						</div>
						<div class="col-6">
							<p class="fw-bold text-end">$5000</p>
						</div>
					</div>
				</li class="my-4">
				<li class="my-4">
					<p>*Los costos no incluyen IVA y son vigentes al 31 de diciembre de 2023.</p>
				</li>
				<li class="my-4">
					<p>**Los costos son para procesos de evaluación en la Ciudad de México, para el interior de la República
						deberán cubrir viaticos.</p>
				</li>
			</ul>
		</div>
		<div class="col" id="colRequisitos">
			<p class="mt-3">Deberán compartir los siguientes documentos en formato digital:</p>
			<ul>
				<li class="my-4">Acta de nacimiento</li>
				<li class="my-4">CURP</li>
				<li class="my-4">Credencial INE vigente</li>
				<li class="my-4">Curriculum vitae breve, con fotografia, actualizado y reciente</li>
				<li class="my-4">Documento oficial del último grado de estudios</li>
				<li class="my-4">Documentos que avalen su experiencia en el éstandar de evaluación</li>
				<li class="my-4">Fotografía formato digital (JPG o PNG, a color,fondo blanco,de frente, sin lentes, sin
					accesorios grandes,
					frente descubierta, reciente y nitida)
				</li>
			</ul>

			<div class="row justify-content-center align-content-center">
				<div class="col text-center">
					<p class="my-4 fw-bold">Ver caracteristicas de la foto</p>
					<a class="btn btn-white rounded-5 w-50 my-4" href="{% static 'media/certificacion/foto.pdf' %}" download>Descargar</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container my-5 w-75 rounded-5 bg-naranja position-relative justify-content-center shadow-bottom">
	<img class="position-absolute top-0 start-50 translate-middle mb-5 rounded-circle  bg-white icon-cf shadow-bottom"
		src="{% static 'icons/certificacion/icon_derechos.png' %}" alt="" srcset="">
	<div class="row text-center">
		<div class="col mt-5">
			<h2 class="fw-bold p-3 mt-4">Derechos y Obligaciones de los Usuarios del Sistema Nacional de Competencias</h2>
			<a class="btn btn-white rounded-5 w-50 my-4" href="{% static 'media/certificacion/derechos_obligaciones.pdf' %}" download>Descargar</a>
		</div>
	</div>
</div>
<script>


	const mediaQuery = window.matchMedia('(max-width: 992px)')

	let btnrequisitos = document.getElementById("btnrequisitos");
	let btncostos = document.getElementById("btncostos");

	let requisitos = document.getElementById("colRequisitos");
	let costos = document.getElementById("colCostos");

	let varCosto = document.getElementById("varCosto");
	let varRequisito = document.getElementById("varRequisito");


	let frequisitos = function () {
		costos.style.display = "none";
		requisitos.style.display = "block";

		btncostos.style.backgroundColor = "#80cb7a";
		btnrequisitos.style.backgroundColor = "#ffffff";

		varCosto.style.backgroundColor = "#80cb7a";
		varRequisito.style.backgroundColor = "#ffffff";
	}

	let fcostos = function () {
		requisitos.style.display = "none";
		costos.style.display = "block";

		btncostos.style.backgroundColor = "#ffffff";
		btnrequisitos.style.backgroundColor = "#80cb7a";

		varCosto.style.backgroundColor = "#ffffff";
		varRequisito.style.backgroundColor = "#80cb7a";

	}

	if (mediaQuery.matches) {
		btnrequisitos.addEventListener("click", frequisitos, false);
		btncostos.addEventListener("click", fcostos, false);

		requisitos.style.display = "none";
		costos.style.display = "block";

		btnrequisitos.style.backgroundColor = "#80cb7a";
		btncostos.style.backgroundColor = "#ffffff";

		varCosto.style.backgroundColor = "#ffffff";
		varRequisito.style.backgroundColor = "#80cb7a";

	} else {

		btnrequisitos.removeEventListener("click", frequisitos, false);
		btncostos.removeEventListener("click", fcostos, false);

		requisitos.style.display = "block";
		costos.style.display = "block";

		btnrequisitos.style.backgroundColor = "#ffffff";
		btncostos.style.backgroundColor = "#ffffff";

		varCosto.style.backgroundColor = "#ffffff";
		varRequisito.style.backgroundColor = "#ffffff";
	}


</script>
{% endblock %}
