{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Certificación -->
<div class="row row row-cols-1 row-cols-xl-2 justify-content-center align-items-center bg-bone">
	<div class="col col-xl-5 px-4 txt-justify">
		<h1>¿Qué es el<span class="cor-green"> Conocer?</span></h1>
		<p>
			El Consejo Nacional de Normalización y Certificación de Competencias Laborales (CONOCER) es una entidad paraestatal del gobierno federal mexicano, sectorizada en la Secretaría de Educación Pública y encargada de promover el Sistema Nacional de Competencias para contribuir a la competitividad económica, al desarrollo educativo y al progreso social de México, con base en el fortalecimiento del capital humano.
			<br><br>
			El CONOCER cuenta con un órgano de gobierno de alta relevancia y con participación tripartita.
		</p>
	</div>
	<div class="col col-xl-7 justify-self-center my-sm-3 my-lg-1 text-center">
			<img src="{% static 'images/conocer/img_conocer_img.png' %}" class="w-75 h-75">
	</div>
</div>

<div class="container rounded-5 bg-bone mt-5">
	<div class="row justify-content-center">
		<div class="col text-center mt-4">
			<p class="cor-salmon fs-1 fw-bold">Presidente</p>
			<p>Secretario de Educación Pública SEP</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col text-center mt-3">
			<p class="cor-salmon fs-2 fw-bold">Presidente Suplente</p>
			<p>Subsecretario de Educación Media Superior de SEP</p>
		</div>
	</div>

	<div class="row mt-4 justify-content-center align-items-center">
		<div class="col-2 bg-morado h-100 text-center">
			<p class="">f</p>
		</div>
		<div class="col-6">
			<p>f</p>
		</div>
		<div class="col-2">
			<p>f</p>
		</div>
	</div>
	
</div>

{% endblock %}
