{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
	<h1 class="my-5 fw-bold text-center">Código de <span class="cor-lemon">ética</span> </h1>
	<div class="row row-cols-sm-1 row-cols-lg-2 row-cols-xl-3 justify-content-center">
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-salmon shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_independencia.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">INDEPENDENCIA: </h4>
					<p class="card-text mt-4">Toda persona que intervenga en los procesos de evaluación deberá ser
						íntegra,
						manteniendo
						independencia cuando exprese una opinión y siendo objetiva en la toma de decisiones de los
						asuntos bajo su
						responsabilidad.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-naranja shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_honestidad.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">HONESTIDAD: </h4>
					<p class="card-text mt-4">Actuar con legalidad y honestidad, y rechazar favores que corrompan la
						función
						asignada.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-azul shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_confidencialidad.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">CONFIDENCIALIDAD: </h4>
					<p class="card-text mt-4">Mantener en secreto toda la información a la cual se tenga acceso en el
						desempeño de
						sus funciones, reservándola para ser proporcionada únicamente a la persona interesada, evitando
						la
						intervención de terceros.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-morado shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_incompatibilidad.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">INCOMPATIBILIDAD: </h4>
					<p class="card-text mt-4">Únicamente podrán participar como evaluadores y verificadores internos en
						los
						procesos de evaluación, aquellos que no hayan intervenido como instructor en la capacitación del
						o los
						candidato(s) y que no guarden una relación jerárquica con éste.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-verde-fuerte shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_respeto.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">RESPETO Y AUTORIDAD: </h4>
					<p class="card-text mt-4">Respeto a la opinión del resto de las personas que intervienen en el
						proceso de
						evaluación, así como al evaluado independientemente del resultado obtenido.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-salmon shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_comunicacion.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">COMUNICACIÓN: </h4>
					<p class="card-text mt-4">Informar por escrito a su superior jerárquico sobre cualquier
						irregularidad de la
						cual se tenga conocimiento y que afecte el resultado de la evaluación.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-naranja shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_custodia.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">GUARDA Y CUSTODIA DE LA DOCUMENTACIÓN: </h4>
					<p class="card-text mt-4">Salvaguardar la documentación utilizada e información generada en el
						desempeño de
						sus funciones, con integridad profesional evitando ocultar o deformar los hechos para beneficiar
						a un
						tercero.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-azul shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_capasidad.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">CAPACIDAD: </h4>
					<p class="card-text mt-4">Toda persona que intervenga en un proceso de evaluación deberá estar
						capacitada y
						actualizada para desempeñar su función, a fin de lograr una mayor calidad en el servicio.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-morado shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_facultad.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">FACULTAD: </h4>
					<p class="card-text mt-4">Solo podrán ser evaluadores y verificadores las personas que cuentan con
						el
						certificado que los faculta para ello.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-verde-fuerte shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_resultados.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">RESULTADOS: </h4>
					<p class="card-text mt-4">El resultado de la evaluación, sólo podrá ser proporcionado por el
						personal y/o
						instancia establecida para ello, de acuerdo al manual de procedimientos.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-salmon shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_evaluacion.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">DERECHO DE APELACIÓN: </h4>
					<p class="card-text mt-4">Cualquier candidato que se haya sometido a un proceso de evaluación y el
						resultado
						del mismo sea todavía no competente podrá apelar el dictamen siguiendo el procedimiento
						establecido.</p>
				</div>
			</div>
		</div>
		<div class="col col-sm-8 my-5">
			<div class="card position-relative h-100 bg-naranja shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_acceso.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">ACCESO LIBRE:</h4>
					<p class="card-text mt-4">Los servicios prestados por la Entidad de Certificación y Evaluación
						garantizan
						igualdad de oportunidades y se encuentran al alcance de toda persona que contando con los
						conocimientos,
						habilidades, actitudes y experiencia, se considere apta para someterse a un proceso de
						evaluación.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-cols-sm-1 row-cols-xl-3">
		<div class="col my-5">
			<div class="card position-relative h-100 bg-azul shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icons-st shadow-bottom"
					src="{% static 'icons/etica/icon_imparcial.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">ACCESO LIBRE:</h4>
					<p class="card-text mt-4">Los servicios prestados por la Entidad de Certificación y Evaluación
						garantizan
						igualdad de oportunidades y se encuentran al alcance de toda persona que contando con los
						conocimientos,
						habilidades, actitudes y experiencia, se considere apta para someterse a un proceso de
						evaluación.</p>
				</div>
			</div>
		</div>
		<div class="col col-xl-8 my-5">
			<div class="card position-relative h-100 bg-morado shadow-bottom rounded-5">
				<img class="position-absolute top-0 start-50 translate-middle mb-5 icon-acceso shadow-bottom"
					src="{% static 'icons/etica/icon_obligacion.png' %}" alt="" srcset="">
				<div class="mb-4"></div>
				<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 ">
					<h4 class="fw-bold">ACCESO LIBRE:</h4>
					<p class="card-text mt-4">Los servicios prestados por la Entidad de Certificación y Evaluación
						garantizan
						igualdad de oportunidades y se encuentran al alcance de toda persona que contando con los
						conocimientos,
						habilidades, actitudes y experiencia, se considere apta para someterse a un proceso de
						evaluación.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
