{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="main-container">
	<div class="row">
		<div class="col p-5">
			<h1>¡Bienvenidos!</h1>
			<p>
				Actualmente las instituciones	educativas se encuentran inmersas en ambtientes altamente competitivos
				por lo que deben contar con procesos de calidad y acreditacion para determinar su exito.
			</p>
		</div>
		<div class="col">
			<h1>Imagen</h1>
		</div>
	</div>
</div>
<br><br>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h1>Presidente</h1>
					<h2>Presidente Suplente</h2>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
    