{% extends 'base.html' %} {% load static %} {% block content %}
<div class="bg-green"></div>

<div class="row row-cols-1 row-cols-xl-2 justify-content-center align-items-center bg-green-scale">
	<div class="col col-xl-5 px-4 cor-white txt-justify">
		<h1>¡Bienvenidos!</h1>
		<p>
			Actualmente las instituciones educativas se encuentran inmersas en
			ambientes altamente competitivos por lo que deben contar con procesos de
			calidad y acreditación para determinar su éxito, por tal motivo
			Editorial Santillana y su Entidad de Certificación y Evaluación (ECE)
			ofrece capacitación, evaluación y certificación en diversos estándares
			aprobados por el Consejo Nacional de Normalización y Certificación de
			Competencias Laborales (CONOCER).
		</p>
	</div>
	<div class="col col-xl-7 justify-self-center my-sm-3 my-lg-1 text-center">
		<img src="{% static 'images/img_sece_01.png' %}" class="w-75 h-75">
	</div>
</div>

<div class="row justify-content-center my-5">
	<div class="col-7">
		<h1 class="text-center mb-4">¿Q<span class="cor-salmon">uienes Somos?</span></h1>
		<p>Somos una institución acreditada por CONOCER como Entidad de Certificación y Evaluación (ECE), con
			experiencia en
			capacitación, preparación de candidatos a evaluación y certificación. De esta manera Editorial Santillana
			contribuye en el desarrollo de personas competentes que hacen más productiva nuestra sociedad para el
			beneficio de
			todos los mexicanos.
			Nuestra aportación tanto en la formación de capital humano como en la evaluación y certificación de
			competencias
			es fundamental para acelerar la competitividad económica, el desarrollo educativo y el progreso social que
			requiere nuestro país.
		</p>
	</div>
</div>

<div class="row row-cols-1 row-cols-xl-2 justify-content-center my-5">
	<div class="col-sm-7 col-xl-4 my-sm-5 my-md-5 my-xl-4">
		<div class="card position-relative card-mision h-100">
			<img class="position-absolute top-0 start-50 translate-middle w-25 mb-5 img-container"
				src="{% static 'icons/index/icon_flecha.svg' %}" alt="" srcset="">
			<div class="mb-4"></div>
			<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 text-center">
				<h2 class="card-title">Visión</h2>
				<p class="card-text">Lograr el reconocimiento nacional e internacional al convertirnos en un referente
					de productividad y competitividad consolidando el liderazgo en el sector educativo y del Sistema
					Nacional de Competencias.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-xl-4 my-sm-5 my-md-5 my-xl-4">
		<div class="card position-relative card-vision h-100">
			<img class="position-absolute top-0 start-50 translate-middle w-25 mb-5 img-container"
				src="{% static 'icons/index/icon_bascula.svg' %}" alt="" srcset="">
			<div class="mb-4"></div>
			<div class="card-body my-sm-3 my-md-4 my-lg-5 p-sm-4 text-center">
				<h2 class="card-title">Código de ética</h2>
				<p class="card-text">Conoce nuestro código de ética, un instrumento que muestras las normas, reglamentos
					y valores que han sido establecidos para regular nuestras actividades. </p>
				<button class="btn mt-4 btn-ece">Ver detalles</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
