{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container text-center my-5">
	<h1 class="my-5 fw-bold">Más <span class="cor-green">información</span></h1>
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
		<div class="col my-4 ">
			<div class="card conocer rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://conocer.gob.mx/" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_redconocer.png' %}" alt="" srcset="">
					</a>
					</a>
				</div>
			</div>
		</div>
		<div class="col my-4 ">
			<div class="card renapo rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://www.gob.mx/segob/renapo" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_renapo.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-4 ">
			<div class="card sep rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://www.gob.mx/sep" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_sep.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-4 ">
			<div class="card stps rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://www.gob.mx/stps" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_stps.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-4 ">
			<div class="card olt rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://www.ilo.org/global/lang--es/index.htm" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_oit.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-4 ">
			<div class="card family rounded-5 shadow-bottom">
				<div class="card-body">
					<a href="https://conocer.gob.mx/prestadores-servicios-realizan-la-evaluacion-certificacion-las-competencias/" target="_blank">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_competencias.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
