{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container text-center">
	<h2 class="my-5 fw-bold">Más <span class="cor-green">información</span> </h2>
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">

		<div class="col my-2 ">
			<div class="card conocer">
				<div class="card-body">
					<a href="http://">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_redconocer.png' %}" alt="" srcset="">
					</a>
					</a>
				</div>
			</div>
		</div>
		<div class="col my-2 ">
			<div class="card renapo">
				<div class="card-body">
					<a href="http://">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_renapo.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-2 ">
			<div class="card sep">
				<div class="card-body">
					<a href="http://">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_sep.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-2 ">
			<div class="card stps">
				<div class="card-body">
					<a href="http://">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_stps.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-2 ">
			<div class="card olt">
				<div class="card-body">
					<a href="http://">
						<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_oit.png' %}" alt="" srcset="">
					</a>
				</div>
			</div>
		</div>
		<div class="col my-2 ">
			<div class="card family">
				<div class="card-body">

					<img class="img-fluid p-3" src="{% static 'icons/informacion/logo_competencias.png' %}" alt="" srcset="">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}