{% load static %}
<footer class="col-12 footer-container footer-subida">
	<div class="d-flex  justify-content-center qs-footer mt-5">
		<div class="col-10 p-5" style="margin-top: 15%;" >
			<div style="background-color: white;">
				<div class="row justify-content-center align-items-center">
					<div class="col-sm-3">
						<img src="{% static 'logos/sece copy.png' %}" class="img-fluid" alt="" srcset="">
						<p>Av.Río Mixcoac No.274 Col.Acacias</p>
						<p>Alcaldía Benito Juarez Méxcio</p>
						<p>Ciudad de México</p>
						<p>C.P. 03240</p>
					</div>
					<div class="col-sm-3">
						<p>(55)5420 7530 ext.2272</p>
					</div>
					<div class="col-sm-3">
						
						<img src="{%static 'logos/red_conocer.png' %}" class="img-fluid" alt="" srcset="">
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>
