{% load static %}
<footer class="row footer-container d-flex justify-content-center ">
	<div class="col-sm-12 d-flex  justify-content-center footer-information" style="background-color: white;">
				<div class="row justify-content-center align-items-center">
					<div class="col-sm-3">
						<img src="{% static 'logos/sece copy.png' %}" class="img-fluid mb-4" alt="" srcset="">
						<p>Av.Río Mixcoac No.274 Col.Acacias</p>
						<p>Alcaldía Benito Juarez Méxcio</p>
						<p>Ciudad de México</p>
						<p>C.P. 03240</p>
					</div>
					<div class="col-sm-3">
						<p>(55)5420 7530 ext.2272</p>
					</div>
					<div class="col-sm-3">
						
						<img src="{%static 'logos/red_conocer.png' %}" class="img-fluid" alt="" srcset="">
					</div>
				</div>
	</div>
</footer>
