{% load static %}
<div class="container rounded-5 bg-bone shadow-bottom">
	<div class="row justify-content-center ">
		<div class="col-9 my-5">
			<picture>
				<img src="{% static 'logos/sece.png' %}" alt="" class="w-25">
			</picture>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-3">
			<p><span><i class="fa-solid fa-house cor-salmon"></i></span> Av. Río Mixcoac No.274 </p>
			<p>Col. Acacias</p>
			<p>Alcaldía Benito Juárez México</p>
			<p>Ciudad de México</p>
			<p>C.P. 03240</p>
		</div>
		<div class="col-3">
			<p><span><i class="fa-solid fa-phone cor-salmon"></i></span> (55)5420 7530 ext.2272</p>
			<p>01800 008 1900</p>
			<p><span><i class="fa-solid fa-envelope cor-salmon"></i></span> Quejas y sugerencias:</p>
			<p><a href="{% url 'contacto' %}" style="text-decoration: none;"><span class="fw-bold cor-salmon mt-4">ece@santillana.com.mx</span></a></p>
			
			<p><a href="{% url 'aviso' %}" style="text-decoration: none;"><span class="fw-bold cor-salmon" >Aviso de Privacidad</span></a></p> 
			<p><a href="{% url 'condiciones' %}" style="text-decoration: none;"><span class="fw-bold cor-salmon mt-5" >Condiciones de Uso</span></a></p>	
		</div>
		<div class="col-3">
			<picture>
				<img src="{% static 'logos/red_conocer.png' %}" alt="" class="img-fluid">
			</picture>
		</div>
	</div>
</div>
