{% load static %}
<div class="row">
	<nav class="navbar navbar-expand-lg navbar-light bg-light align fixed-top">
		<div class="container-fluid">
			<div class="row justify-content-center ">
				<div class="col-8">
					<a class="navbar-brand" href="{% url 'home' %}" >
					
					</a>
				</div>
				<div class="col-3">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
						aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>

			</div>

			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Entidad de Certificación y Evaluación
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href="{% url 'conocer' %}">¿Que es Conocer?</a></li>
							<li><a class="dropdown-item" href="{% url 'estandares' %}">Estandares de Competencia Laboral</a></li>
							<li><a class="dropdown-item" href="{% url 'certificacion' %}">Certificación de Competencia Laboral</a>
							</li>
							<li><a class="dropdown-item" href="{% url 'etica' %}">Derechos y Obligaciones de los Usuarios</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'informacion' %}"">Información</a>
					</li>
					<li class=" nav-item">
							<a class="nav-link" href="{% url 'contacto' %}"">Contacto</a>
					</li>
				</ul>
				
			</div>
			
		</div>
	</nav>
</div>
